{% load static %}

  <div class="backdrop"></div>
    <a class="backtop fas fa-arrow-up" href="#"></a>
    <div class="header-top">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-5">
            <div class="header-top-welcome">
              <p>Welcome to Greeny, Your Dream Online Store!</p>
            </div>
          </div>
          <div class="col-md-5 col-lg-3">
            <div class="header-top-select">
              <div class="header-select">
                <i class="icofont-world"></i
                ><select class="select">
                  <option value="english" selected>english</option>
                  <option value="bangali">bangali</option>
                  <option value="arabic">arabic</option>
                </select>
              </div>
              <div class="header-select">
                <i class="icofont-money"></i>
                <select class="select">
                  <option value="english" selected>doller</option>
                  <option value="bangali">pound</option>
                  <option value="arabic">taka</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-lg-4">
            <ul class="header-top-list">
              <li><a href="offer.html">offers</a></li>
              <li><a href="faq.html">need help</a></li>
              <li><a href="{% url 'contact' %}">contact us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <header class="header-part">
      <div class="container">
        <div class="header-content">
          <div class="header-media-group">
            <button class="header-user">
              <a href="{% url 'profile-detail' request.user.id %}">
                <img src="{% static 'images/user.png' %}" alt="user" />
              </a>
            </button>
            <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="logo" /></a>
            <button class="header-src"><i class="fas fa-search"></i></button>
          </div>
          <a href="{% url 'home' %}" class="header-logo">
            <img src="{% static 'images/logo.png' %}" alt="logo" />
          </a>
          <a href="#" class="header-widget" title="My Account">
            <img src="{% static 'images/user.png' %}" alt="user" />
            <!-- <span>join</span> -->
          </a>
          <form class="header-form" method="get" action="{% url 'search' %}">
            <input type="text" placeholder="Search anything..." name="query" />
            <button type="submit"><i class="fas fa-search"></i></button>
          </form>
          <div class="header-widget-group">

            <a href="#" class="header-widget" title="Add Product">
              <i class="fas fa-plus"></i><sup>0</sup>
            </a>
            <a href="wishlist.html" class="header-widget" title="Wishlist">
              <i class="fas fa-heart"></i><sup>0</sup>
            </a>
            <button class="header-widget header-cart" title="Cartlist">
              <i class="fas fa-shopping-basket"></i><sup>{{cart|length}}</sup>
              <!-- {% if cart %} -->
              <span>Total price<small>₦{{cart.get_total_cost|floatformat:2}}</small></span>
              <!-- {% endif %} -->
            </button>
          </div>
        </div>
      </div>
    </header>